<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>InstaMuse - Login</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/login.css">
  </head>
  <body>
      <div class="center">
        <h1>InstaMuse</h1>
        <a href="http://localhost:3000/login">
        <div class="log-but">
          Login using Spotify
        </div>
        </a>
        <p>Finding new music is hard and sharing music socially is even harder. Almost every streaming service lacks social features that connect you with tastemakers and showcase what new music your friends are listening to.

InstaMuse is a companion web application to Spotify that aims to solve this problem.
</p>
      </div>
  </body>
</html>
