<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Post</title>
    <script src="/socket.io/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/feed.css">
  </head>
  <body>
    <div class="nav">
      <a href="http://localhost:3000"><h2 class="logo">InstaMuse</h2>
        <a class="p-link" href="/explore">Explore</a>
        <a class="p-link" onclick="navProfile();">Your Profile</a>
      </a>
      <!-- <a class="np-link" href="/newpost">New Post</a> -->
    </div>
      <div class="content onscreen">
        <div class="header">
          <h1>New Post</h1>
        </div>
        <div class="search">
          <input class="search-box" type="text"placeholder="Type to search for a track...">
          <div class="results">
            <ol class="search-ol">

            </ol>
          </div>
        </div>
        <div class="recent-played">
          <h3>Recently Played</h3>
          <hr>

          <ol class="recent-ol">
          </ol>
        </div>
        <div class="recent-saved">
          <h3>Recently Saved Tracks</h3>
          <hr>

          <ol class="saved-ol">
          </ol>
        </div>
      </div>

      <div class="content offscreen">
        <h1>Your Post</h1>
        <p>Song:</p>
        <ol class="picked-song">
      </ol>
        <p class="desc-p">Description</p>
        <textarea type="text" class="desc-input"></textarea>
        <p>Mood</p>
        <form id="mood">
        <label class="container">Sad
          <input type="radio" value="Sad" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Happy
          <input type="radio" value="Happy" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Energetic
          <input type="radio" value="Energetic" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Chill
          <input type="radio" value="Chill" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Throwback
          <input type="radio" value="Throwback" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Driving
          <input type="radio" value="Driving" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Montage
          <input type="radio" value="Montage" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Acoustic
          <input type="radio" value="Acoustic" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Rage
          <input type="radio" value="Rage" name="radio">
          <span class="checkmark"></span>
        </label>
      </form>
        <br>
        <div onclick="post.submitPost();" class="submit">Submit</div><div onclick="postToPick();" class="cancel">Cancel</div>
      </div>

      <script src="../jquery-3.4.1.min.js" charset="utf-8"></script>
      <script src="../modules/postHandler.js" charset="utf-8"></script>
      <script src="../post.js" charset="utf-8"></script>
  </body>
</html>
