<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Post</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <div class="nav"><a href="/">Home</a></div>
      <div class="content">
        <div class="header">
          <h1>New Post</h1>
        </div>
        <div class="search">
          <input class="search-box" type="text"placeholder="Type to search for a track...">
          <div class="results">
            <ol class="search-ol">

            </ol>
          </div>
        </div>
        <div class="recent-played">
          <h3>Recently Played</h3>
          <hr>

          <ol class="recent-ol">
          </ol>
        </div>
        <div class="recent-saved">
          <h3>Recently Saved Tracks</h3>
          <hr>

          <ol class="saved-ol">
          </ol>
        </div>
      </div>

      <script src="../jquery-3.4.1.min.js" charset="utf-8"></script>
      <script src="../post.js" charset="utf-8"></script>
  </body>
</html>
