<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User</title>
    <script src="/socket.io/socket.io.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/feed.css">
    <link rel="stylesheet" href="../styles/user.css">
          <link rel="icon" href="favicon.png" type="image/png">
  </head>
  <body>
    <div class="nav">
      <a href="http://localhost:3000"><h2 class="logo">InstaMuse</h2></a>
      <a class="np-link" href="/newpost">New Post</a>
            <a class="p-link" href="/explore">Explore</a>
      <a class="p-link" onclick="navProfile();">Your Profile</a>
    </div>

        <div class="feed">
          <div class="profile-box">
            <h1 id="usr-name" ></h1>
            <div class="dp-out"></div>
            <p id="usr-stats" >93 Followers | 2 Posts</p>
            <div class="follow-out">

            </div>

          </div>
          <ol id="feed-posts"></ol>
        </div>
        <div class="pie-chart"></div>
        <div class="right">
          <div class="mood-bar">
            <h2>Moods</h2>
            <ol>
              <li onclick="usrLoad();" >
                <div class="mood-bubble"></div> <p>No Filter</p>
              </li>
              <li onclick="feed.displayMood('Sad')" >
                <div class="sad mood-bubble"></div> <p>Sad</p>
              </li>
              <li onclick="feed.displayMood('Happy')">
                <div class="happy mood-bubble"></div> <p>Happy</p>
              </li>
              <li onclick="feed.displayMood('Energetic')">
                <div class="energetic mood-bubble"></div> <p>Energetic</p>
              </li>
              <li onclick="feed.displayMood('Chill')">
                <div class="chill mood-bubble"></div> <p>Chill</p>
              </li>
              <li onclick="feed.displayMood('Throwback')">
                <div class="throwback mood-bubble"></div> <p>Throwback</p>
              </li>
              <li onclick="feed.displayMood('Driving')">
                <div class="driving mood-bubble"></div> <p>Driving</p>
              </li>
              <li onclick="feed.displayMood('Montage')">
                <div class="montage mood-bubble"></div> <p>Montage</p>
              </li>
              <li onclick="feed.displayMood('Acoustic')">
                <div class="acoustic mood-bubble"></div> <p>Acoustic</p>
              </li>
              <li onclick="feed.displayMood('Rage')">
                <div class="rage mood-bubble"></div> <p>Rage</p>
              </li>
            </ol>
          </div>
        </div>

      <script src="../jquery-3.4.1.min.js" charset="utf-8"></script>
      <script src="../modules/postHandler.js" charset="utf-8"></script>
      <script src="../modules/likeHandler.js" charset="utf-8"></script>
      <script src="../modules/followHandler.js" charset="utf-8"></script>
      <script src="../modules/feedHandler.js" charset="utf-8"></script>
      <script src="../user.js" charset="utf-8"></script>
  </body>
</html>
