body{
  background-color: #18191B;
  font-family: 'Lato', sans-serif;
  color: white;
  margin: 0;
}

input, select, textarea{
    color: white;
}
.bold{
  font-weight: bold;
}
.nav{
  margin-bottom: 20px;
  background-color: #121212;
  width: 100%;
  height: 60px;
}
.content{
  width: 75%;
  margin: auto;
  height: 700px;
}
.header{
  margin: 0;
  margin-bottom: 10px;
}
.content hr{
  border: 1px solid #8e44ad;
}

.content ol{
  list-style: none;
  display: inline;
  padding: 0;
}

.content li{
  display: inline-block;
  margin-right: 12px;
  cursor: pointer;
}

.content li img{
  width: 200px;
  height: 200px;
}

.img-title{
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.img-artist{
  margin-top: 5px;
  color: #B1B1B1;
}

.search input{
  background-color: inherit;
  margin: 0;
  width: 100%;
  height: 45px;
  font-size: 17pt;
  border: 0;
  border-bottom: 1px white solid;
  margin-bottom: 12px;
}

.results{
  width: 100%;
}

.offscreen{
  position: relative;
  right: 1000px;
}

.offscreen h1{
  margin-bottom: 10px;
}

.onscreen{
  position: relative;
}

.submit{
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 70px;
  border-radius: 5px;
  background-color: green;
  line-height: 40px;
  margin-top: 15px;
  cursor: pointer;
}

.cancel{
  display: inline-block;
  margin-top: 15px;
  text-align: center;
  height: 40px;
  width: 70px;
  border-radius: 5px;
  background-color: red;
  line-height: 40px;
  margin-left: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

.desc-p{
  margin-top: 0px;
}

.desc-input{
  background-color: #242527;
  border: 0;
  height: 150px;
  width: 500px;
  font-size: 12pt;
  resize: none;
}

.offscreen label{
  margin-left: 10px;
}

.pp-center{
  margin: auto;
  margin-left: 25%;
  margin-top: 20px;
}

.explore-list ol{
  list-style: none;
  display: inline;
  padding: 0;
}
.explore-list{
  margin-top: 15px;
  margin-left: 40px;
}
.explore-list li{
  display: inline-block;
  margin-right: 12px;
  cursor: pointer;
}

.explore-list li img{
  width: 200px;
  height: 200px;
}
